.header {
  /* background-color: var(--color-secondary); */
  display: flex;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 28px;
  /* padding-bottom: 0; */
  position: relative;
  justify-content: space-between;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.header {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}