.dashboardWrapper {
  display: flex;
  flex-grow: 2;
  /* height: 100vh; */
  /* width: 100%; */
}

.secondChild {
  display: grid;
  width: 100%;
  /* overflow-y: scroll;
  max-height: 90vh; */
}

.darkTheme {
  background-color: #0f0f0f;
  /* Dark mode background color */
}