.navWrapper{
    padding: 32px 16px 32px 32px ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.navActiveWrapper{
    padding: 32px 16px 32px 32px ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #04A1FF;
    cursor: pointer;
  
} 

.navText{
    padding-left: 16px;
     
}
.navIconTextWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navIconLight{
filter: brightness(0) saturate(100%) invert(0%) sepia(85%) saturate(7480%) hue-rotate(208deg) brightness(107%) contrast(99%);

}
.navIconDark{
filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%) hue-rotate(110deg) brightness(98%) contrast(108%);

}