.wrapper {
  border: 1px solid var(--color-sub-background-border);
  border-radius: 16px;
  /* max-height: 90vh; */
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background: 'pink'; */
  /* width: 100%; */
}

.usersMenu {
  display: 'flex';
  /* height: '100px'; */
}

.search {
  padding: 28px;
  
}
