.wrapper {
  /* border: 1px solid var(--color-sub-background-border); */
  border: 1px solid gray;
  border-radius: 16px;
  height: 95vh;
  /* margin-right: 16px; */
  /* display: flex; */
  flex-wrap: wrap;
  flex-direction: column;
  /* overflow-y: hidden;
  overflow-y: hidden; */
  width: 100%;
  margin: 0 10px;
}

.topbarwrapper {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-left: 30px;
  padding-top: 30px;
  /* overflow: hidden; */
}

.search {
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter {
  height: 75vh;
}

.aside {
  border-right: 1px solid var(--color-sub-background-border);
  height: 100%;
}