.main_box {
    padding: 0px 100px 100px 100px ;
    width: 100%;
    background-color: aliceblue;
    margin: 0px auto;
  }

  .main_top_box {

    width: 100%;
    height: 100%;
border-bottom:10px gray solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
  }
  .logo_Comapnyname {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .logo {
    /* width: 80px;
    height: 80px; */
    color: aliceblue;
    font-weight: bold;
    padding: 36px 20px;
border-radius: 10px;
  
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .companyName {
  
    padding: 0px 10px;
    line-height: 13px;
  }


  .bill-to-ship {
    width: 100%;
    height: 250px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
  }
  .bill-to-ship-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .bill {
    padding: 4px 0px;
  }
  .bill p{
      font-size: 23px;
  }
  .bill h3 {
    color: #16167a;
  }
  .bill hr {
    width: 692px;
  }
  .bill-top-right{
      justify-content: end;

  display: flex;
  align-items: end;
  width: 100%;
  }
  .bill-top-right p {
    font-style: italic;
  }
  .companyName h3{
    background-color: aliceblue;
    padding: 8px;
  }
  .companyName p{
    background-color: aliceblue;
    padding: 8px;
  }
  
  .Business-name{
    background-color: aliceblue;
    font-size: 20px;
    padding: 3px;
    margin-top: 20px;
  }
  .Business-p p{
    background-color: aliceblue;
      padding: 5px;
    margin-top: 5px;
  }

  .billing-div-main{
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .sub-billing-div-main{
    width: 33.33% !important;
    
  }
  .d-flex{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 20px;
   border-top: 3px solid #8080805c;
  }
  .th-1{
    width: 40% !important;
    text-align: left;
    padding: 20px 0px;
  }
  .th-2{
    width: 20% !important;
    text-align: left;
    padding: 20px 0px;

  }
  .th-3{
    width: 20% !important;
    text-align: left;
    padding: 20px 0px;

  }
  .th-4{
    width: 20% !important;
    text-align: left;
    padding: 20px 0px;

  }