.wrapper {
  border: 1px solid var(--color-sub-background-border);
  border-radius: 16px;
  min-height: 80vh;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside {
  border-right: 1px solid var(--color-sub-background-border);
  width: 416px;
  height: 70vh;
  overflow: auto;
}

.rightSideWrapper {
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  height: 70vh;
  overflow: auto;
}

.search {
  padding: 32px;
}

.innerWrapper {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: minmax(min-content, 416px) 1fr;
}