.wrapper {
  border: 1px solid var(--color-sub-background-border);
  border-radius: 16px;
  max-height: 90vh;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}

  .aside {
    border-right: 1px solid var(--color-sub-background-border);
    width: 416px;
    height: 70vh;
    overflow: auto;
  }
  
  .rightSideWrapper{
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
   
    overflow: auto;
  }
.search {
  padding: 32px;
}

.innerWrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 416px) 1fr;
  height: 100%;
}

