.wrapper {
  overflow: auto;
}

.profilePicImage {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.profilePicWrap {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
  gap: 5px;
}

/* .changePictureTextWrapper {
  margin-left: 8px;
} */

.changePictureText {
  color: #37de8f;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: 'pointer';
}

.changePictureTextWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.changePictureIcon {
  width: 16px;
  height: 16px;
  border: 1px solid #37de8f;
  padding: px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 4px;
}

.nameWrap {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #292929;
}

.profileNameText {
  font-size: 24px;
  font-weight: 600;
}

.inputWrap {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #292929;
  color: white;
  min-width: 264px;
  width: 264px;
  outline: none;
  background-color: transparent;
}

.inputWrap:focus {
  outline: none;
}

.passwordChangeWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputListWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: end;
  gap: 20px;
  margin-top: 20px;
}

.passwordheading {
  text-transform: capitalize;
  padding: 5px 0px;
}

.savebutton {
  color: #fff;
}
